/* 날짜 삭제 */
.fc-list-event-time {
  display: none;
}
/* .fc-list-event-title tr {
  padding-right: 20px;
} */
/* 테두리 */
:root {
  --fc-border-color: black;
  --fc-daygrid-event-dot-width: 10px;
}

.fc {
  font-size: 10px;
  margin: 0;
  height: 100%;
}
.fc .fc-toolbar-title {
  display: inline-block;
}
